.profile__section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 12px;
}

@media (max-width: 500px) {
    .profile__section {
        justify-content: center;
    }    
}