.popup-add-card {
    display: none;
    position: relative;
    max-width: 430px;
    height: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

@media (max-width: 500px) {
    .popup-add-card {
        max-width: 282px;
    }
}